/*
##########################################################################
##########################################################################
		Default Layout: 952px.
		Content-Element width: 952px.
		Gutters: 24px.
		Outer content margins: 28px.
		Leftover space for scrollbars @1024px: 32px.
##########################################################################
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    
##########################################################################
##########################################################################
*/

.clear {clear:both;}
p.indent {text-indent:40px;}

@font-face { font-family: Gotham; src: url('../../fonts/GothaXNarBoo.otf'); }
@font-face { font-family: Gotham; font-weight: bold; src: url('../../fonts/GothaXNarBol.otf'); }

body {
	background-color: #FFF ;
}
#toshSplash{
	background-color: #d6a718 ;
}
#splashText p {
	color: #FFF ;
	font-family:  Gotham, “Helvetica Neue”, Helvetica, Arial, sans-serif;
	font-size: 14pt ;
}
#splashText .bold {
	font-size: 20px ;
	font-weight: bold ;
}
/* Splash */
.dossier-start-bg {
	padding-top:0;
	/*overflow:hidden;*/
}
/* story */
#contentArea {
	background-color: #FFF ;
	color: #000 ;
}
#contentArea *{
	font-family:  Gotham, “Helvetica Neue”, Helvetica, Arial, sans-serif;
	color: #000 ;
	
}
#leftColumn {
	position: absolute ;
	left: 28px ; 
}

#leftColumn p {
	font-family:  Gotham, “Helvetica Neue”, Helvetica, Arial, sans-serif;
	font-size: 12pt ;
}
#leftColumn h2 {
	font-size: 24pt ; 
	font-family:  Gotham, “Helvetica Neue”, Helvetica, Arial, sans-serif;
	font-weight: bold ;
}
#rightColumn p {
	font-family:  Gotham, “Helvetica Neue”, Helvetica, Arial, sans-serif;
	font-size: 14pt ; 
}

#arrow {
	position:absolute;
}
.content-element {
	margin-top: 40px ;
	margin-left: 68px ;
}
.content-element * {
	font-family:  Gotham, “Helvetica Neue”, Helvetica, Arial, sans-serif;
}
.content-element p {
	line-height:1.4em;
	margin-bottom:1em;
}
.content-element h2 {
	font-size:200%;
}
.about:first-letter {
	font-weight:700 ;
	font-size: larger ;
}
a:link {
	text-decoration: none ;
	font-weight: bold ;
	border-bottom: none ;
}
.photoCaption {
	font-style: italic ;
	font-size: .85em ;
}
.captionLabel {
	font-style: normal ;
	font-size: .85em ;
}
/*
##########################################################################
##########################################################################
		Tablet Layout: 768px.
		Content-Element width: 712px.
		Gutters: 24px.
		Outer content margins: 28px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    
##########################################################################
##########################################################################
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	

	
}


/*
##########################################################################
##########################################################################
		iPad Layout Portrait: 768px.
		Content-Element width: 712px.
		Gutters: 24px.
		Outer content margins: 28px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712   
##########################################################################
##########################################################################
 */
 
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	.dossier-start-bg {height:576px;}
	
	#arrow {bottom:60px;right:180px;}
	.content-element p {
		font-size:16px;
	}
	#toshSplash {
		position:absolute ;
		top: 0 ;
		left: 0 ;
		width: 768px ;
		height: 1024px ;
		background: url('../../images/tosh/tosh.jpg') no-repeat 0 0;
	}
	#splashText{
		position: absolute ;
		left: 370px ;
		width: 344px ;
		top: 100px ;
	}
	#contentArea {
		position: absolute ;
		top: 1024px ;
		width: 768px ;
	}
	#rightColumn {
		position: absolute ;
		left: 216px ;
	}
	.two-wide: {
		width: 160px ;
		margin-left: 28px ;
	}
	.six-wide {
		width: 528px ;
		margin-right: 28px ;
	}
	
	
}


/*
##########################################################################
##########################################################################
		iPad Layout Landscape: 1024px.
		Content-Element width: 896px.
		Gutters: 24px.
		Outer content margins: 64px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    
##########################################################################
##########################################################################
*/

@media only screen and (max-device-width: 1024px) and (orientation:landscape) {
	.dossier-start-bg {height:768px;}
	
	#arrow {bottom:20px;right:260px;}
	.content-element p {
		font-size:16px;
	}
	
	#toshSplash {
		position:absolute ;
		top: 0 ;
		left: 0 ;
		width: 1024px ;
		height: 768px ;
		background: url('../../images/tosh/tosh.jpg') no-repeat 0 0;
	}
	#splashText {
		position: absolute ;
		left: 436px ;
		top: 15px ;
		width: 436px ;
	}
	#contentArea {
		position: absolute ;
		top:768px ;
		width: 1024px ;
	}
	#leftColumn {
		left: 56px ;
	}
	#rightColumn {
		position: absolute ;
		left: 280px ;
	}8
	.two-wide: {
		/* really three wide */
		width: 252px ;
	}
	.six-wide {
		/* really 7 wide */
		width: 712px ;
	}
	
}


/*
##########################################################################
##########################################################################
		Mobile Layout: 320px.
		Content-Element width: 292px.
		Gutters: 24px.
		Outer content margins: 14px.
		Inherits styles from: Default Layout.
##########################################################################
cols    1     2      3
px      68    160    252    
##########################################################################
##########################################################################
*/

@media only screen and (max-width: 767px) {
	
	
	
}


/*		
##########################################################################
##########################################################################
		Wide Mobile Layout: 480px.
		Content-Element width: 436px.
		Gutters: 24px.
		Outer content margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
#########################################################################
cols    1     2      3      4      5
px      68    160    252    344    436    
##########################################################################
##########################################################################
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	


	
}


/*		
##########################################################################
##########################################################################
	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
######################################################################### 
##########################################################################
*/

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	
	
}